/* Style for the Canvas */
canvas {
    border: solid lightcoral 2px;
    margin: auto;
    display: block;
	background-image: url(images/canvas_image.jpg);
}


/* Style for the Index Page */
.menu{
	margin: auto;
	margin-top: 80px;
	text-align: center;
	width: 700px;
	height: 450px;
	border: solid blue 5px;
	font-family: monospace;
	background-image: url(images/menu_image.png);
	box-shadow: 10px 10px 10px black;
	padding: 0px;
}

.asteroidText{
	color: red;
	font-size: 500%;
	font-family: monospace;
	text-shadow: 1px 1px 1px #000, 
				 3px 3px 5px black;
}

.dodgeText{
	color: cornflowerblue;
	font-size: 500%;
	font-style: italic;
	text-shadow: 5px 1px 10px #000, 
		20px 1px 20px cornflowerblue;
}


button{
	font-family: sans-serif;
	font-size: 120%;
	padding: 10px;
	font-style: italic;
}

p{
	font-family: cursive;
	text-align: center;
	color: blue;
	padding: 0;
}
